.about {
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 700;
            font-size: 20px;
            text-align: justify;
        }
        .p1{
            margin-right:7px;
            margin-left: 7px;
        }
        @media (min-width:768px){
            .p1 {
                border: 1px solid white;
            }
        }

        #about{
            background-color: #27AAE1;
            color: white;
        }

        #stud_tutors{
            background-color: #FF9549;
            color: white;
        }

        #step_by_step {
            background-color: black;
            color: white;
        }
        .steps {
            font-family:"Avenir","Helvetica Neue",Helvetica,Arial,cursive;
            letter-spacing: 2px;
            font-style: italic;
            font-size: 17px;
            font-weight: 100;
            padding-left: 40px;
            padding-right: 40px;

             -webkit-column-count: 2; /* Chrome, Safari, Opera */
             -moz-column-count: 2; /* Firefox */
             column-count: 2;

        }
         @media (min-width:768px){
            .steps {
                font-size: 18px;
            }
        }

        .number {
            color:red;
            font-size: 130px;
            font-family:'Helvetica Neue';
            font-weight: 900;
            font-style: initial;
        }

        h2.step_descrip{
            font-family:"Avenir","Helvetica Neue",Helvetica,Arial,cursive;
            text-transform: initial;
            letter-spacing: 2px;
        }