<!--Nav bar-->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	  <div class="navbar-header">
	    <a href="http://thealevel.com" class="navbar-brand">The A Level</a>
	    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	  </div>
	  <div class="navbar-collapse collapse" id="navbar-main">
	    <ul class="nav navbar-nav">
	      
	      <li>
	        <a href="#">Ask A Question</a>
	      </li>
	      <li>
	        <a href="#">Upcoming Sessions</a>
	      </li>
	      <li>
	        <a href="#">Session History</a>
	      </li>
	      <li>
	        <a href="#">Account Settings</a>
	      </li>
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="#" ng-click='studentLogOut()'>Logout</a></li>
	    </ul>

	  </div>
	</div>
</div>

<div class="row" style="padding-top:50px" ng-controller="StudentDashboardController">
	<div class="col-lg-8" id="askQuestion">
		<form class="form-horizontal">
		  <fieldset>
		    <legend>Ask a Question</legend>
		    <p id="error"></p>
		    <div class="form-group">
		      <label for="inputHeader" class="col-lg-2 control-label">Header</label>
		      <div class="col-lg-10">
		        <input ng-model="header" type="text" class="form-control" id="inputHeader" placeholder="Create a subject line for your question.">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="textArea" class="col-lg-2 control-label">Question</label>
		      <div class="col-lg-10">
		        <textarea ng-model="question" class="form-control" rows="3" id="inputQuestion"></textarea>
		        <span class="help-block">Describe your question more thoroughly here.</span>
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="select" class="col-lg-2 control-label">Subject(s)</label>
		      <div class="col-lg-10">
		        <select ng-model="subjects.multipleSelect" multiple="" class="form-control">
		          <option ng-repeat="s in subjects">{{s}}</option>
		        </select>
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="select" class="col-lg-2 control-label">Meeting Place(s)</label>
		      <div class="col-lg-10">
		        <select ng-model="meetingPlaces.multipleSelect" multiple="" class="form-control">
		          <option ng-repeat="m in meetingPlaces">{{m}}</option>
		        </select>
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="select" class="col-lg-2 control-label">Meeting Time(s)</label>
		      <div class="col-lg-10">
		      	<div id="dateAndTimePickers">
		      		<input data-provide="datepicker" id="date_1" class="datepicker">
		      		&nbsp;
		            <input id="time_1" type="text" class="input-small">
		            <i class="icon-time"></i>
		            &nbsp;
		            <button id="addPickerBtn" ng-click="addPickers()" class="btn btn-link"><i class="fa fa-plus-circle fa-lg"></i></button>
		            <br>
		        </div>
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <button ng-click="askQuestion()" type="submit" class="btn btn-primary">Submit</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
	</div>
	<div class="col-lg-8" id="upcomingSessions" style="display:none">
		Upcoming Sessions
	</div>
	<div class="col-lg-8" id="sessionHistory" style="display:none">
		Session History
	</div>
	<div class="col-lg-8" id="accountSettings" style="display:none">
		Account Settings
	</div>
</div>

