 <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="http://thealevel.com" class="navbar-brand">The A Level</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          
          <li>
            <a href="#">News Feed</a>
          </li>
          <li>
            <a href="#">Upcoming Sessions</a>
          </li>
          <li>
            <a href="#">Session History</a>
          </li>
          <li>
            <a href="#">Account Settings</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ng-click='tutorLogOut()'>Logout</a></li>
        </ul>

      </div>

    </div>
  </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>News Feed</h1>
          </div>
        </div>

        <div class="row" ng-controller="TutorDashboardController">
        	<div id="messages" class="col-lg-8 col-md-8 col-sm-8 col-xs-6" style="overflow:auto; height:375px;">
            <img id="messageLoad" src='img/loading.gif' />
            <div class="list-group">
              <a href="#" ng-repeat="m in messages" class="list-group-item">
                <h4 class="list-group-item-heading">{{ m["header"] }}</h4>
                <p class="list-group-item-text"> {{ m["createdAt"] }} </p>
                <p class="list-group-item-text">{{ m["content"] }}</p>
              </a>
            </div>
      		</div>

      		<div id="filters" class="col-lg-4 col-md-4 col-sm-4 col-xs-6" style="overflow:auto; height:375px;">
            <img id="filterLoad" src='img/loading.gif' />
            <ul style="list-style-type:none; text-align:left;">
              <li ng-repeat="f in filters">
                <div class="checkbox">
                  <label>
                        <input class='checkboxes' ng-click='filterMessages()' id="{{ f['id'] }}" type="checkbox"> {{ f["name"] }}
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>


    </div>